TOPIC: String Based Assignment Problem

Problem 1: Write a program to reverse a string.

In [ ]:
#Declare a string
s = "Susobhan"

#Reverse the string
rev_s= s[::-1]

#Print the reverse string
print('The reversed string is: ',rev_s)

Problem 2: Check if a string is a palindrome.

In [ ]:
#Input a string
s1 = input('Enter a string:' )

#change the string to lower case
s1= s1.lower()

#reverse the string
rev_s1 = s1[::-1]

#Logic to check if its a palindrome
if(s1 == rev_s1):
    print('Palindrome')
else:
    print('Non-Palindrome')

Problem 3: Convert a string to uppercase.

In [ ]:
#declare a string
s2= 'hello world'

#print the string in upper case
print('String in upper case: ', s2.upper())

Problem 4: Convert a string to lowercase.

In [ ]:
#declare a string
s2= 'HELLO WORLD'

#print the string in upper case
print('String in lower case: ', s2.lower())

Problem 5: Count the number of vowels in a string.

In [ ]:
#take the scentence as input
sntc = input('Enter your scentence: ')

#convert the string into lowercase
sntc = sntc.lower()

#initialize the iterator
i=0

#Initialize the vowel counter
count=0

#main logic
for i in range(len(sntc)):
    if sntc[i] in ('a','e','i','o','u'):
        count +=1

#print the number of vowels
print('The number of vowels: ',count)

Problem 6: Count the number of consonants in a string.

In [ ]:
#take the scentence as input
sntc = input('Enter your scentence: ')

#convert the string into lowercase
sntc = sntc.lower()

#initialize the iterator
i=0

#Initialize the consonants counter
count=0

#main logic
for i in range(len(sntc)):
    if sntc[i] not in ('a','e','i','o','u'):
        count +=1

#print the number of vowels
print('The number of vowels: ',count)

Problem 7: Remove all whitespaces from a string.

In [ ]:
#take input of the string
str4 = input('Enter the string: ')

#remove the spaces
str5=str4.replace(" ","")

#print the string without spaces
print('The string without spaces: ', str5)

Problem 8: Find the length of a string without using the `len()` function.

In [ ]:
#inpute a string
s3 = input("Enter a string: ")

#initialize the counter
length =0

#Logic to calculate the length
for i in s3:
    length+=1

#print the lenght of the string
print('The length of the string is: ',length)

Problem 9: Check if a string contains a specific word

In [ ]:
#Input a string
s4= input('Enter a string: ')
#convert the string to lower case
s4= s4.lower()

#Enter the string to search
find = input('Enter the string to search: ')
#convert the string to lower case
find = find.lower()

if find in s4:
    print('String found!')
else:
    print('String not found!')

Problem 10: Replace a word in a string with another word.

In [ ]:
#Enter a string
s5 = 'The sun looks beautiful'

#Enter the string to replace with
word = 'moon'

#replace the string
final = s5.replace('sun','moon')

print(final)

Problem 11: Count the occurrences of a word in a string.

In [ ]:
#Enter a string 
s6 = 'The quick brown fox jumps over the lazy dog'

#change the string to lower case
s6=s6.lower()
#Enter the string to get the count
get_count = s6.count('the')

print(get_count)

Problem 12: Find the first occurrence of a word in a string.

In [ ]:
#Enter a string
s7 = 'The quick brown fox jumps over the lazy dog'

print('The original string is: ', s7)

#change the string to lower case
s7=s7.lower()

#define the word to find
to_find = 'the'

#print the position of the first occurance of the word
print("The first occurance of the word is at: ", s7.find(to_find))

Problem 13: Find the last occurrence of a word in a string

In [ ]:
#Enter a string
s8 = 'The quick brown fox jumps over the lazy dog'

print('The original string is: ', s7)

#change the string to lower case
s8=s8.lower()

#define the word to find
to_find = 'the'

#print the last occurance of the word
print("The last occurance of the word is at: ", s8.rfind(to_find))

Problem 14: Split a string into a list of words.

In [ ]:
#Enter a string
s9 = "My name is Roy"

print("The original string is: " , s9)

#split the string into a list
my_list = s9.split()

print(my_list)

Problem 15: Join a list of words into a string.

In [ ]:
#Enter a list
my_list= ["Apples" , "are" , "red"]

#Join the words into a string
my_str = " ".join(my_list)

print("The string becomes: ",my_str)

Problem 16: Convert a string where words are separated by spaces to one where words are separated by underscores.

In [ ]:
#Enter a string
my_str = "Today is a bright sunny day"

#replace the space with underscores
my_str = my_str.replace(" ","_")

print(my_str)

Problem 17: Check if a string starts with a specific word or phrase.

In [ ]:
#Enter a string
my_str = "Today is a bright sunny day"

#cconvert the string to lowercase
my_str = my_str.lower()

#word to check
my_word = "today is"
my_word = my_word.lower()

#find the postion of  the word
pos = my_str.find(my_word)

#check if it is the first word/phrase
if pos==0:
    print("The string starts with yor searched word/phrase")
else:
    print("The string does not start with your searched word/phrase")

Problem 18: Check if a string ends with a specific word or phrase.

In [ ]:
#Enter a string
my_str = "Today is a bright sunny day"

#cconvert the string to lowercase
my_str = my_str.lower()

#reverse the string:
rev_str = my_str[::-1]

#word to check
my_word = "sunny day"
my_word = my_word.lower()

#reverse the word
rev_word = my_word[::-1]

#find the postion of  the word
pos = rev_str.find(rev_word)

#check if it is the first word/phrase
if pos==0:
    print("The string ends with yor searched word/phrase")
else:
    print("The string does not end with your searched word/phrase")

Problem 19: Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
#Enter a string
my_str = "hello world"

#print the string in title case
print(my_str.title())

Problem 20: Find the longest word in a string.

In [ ]:
#Enter a string
my_str = input("Enter a string: ")

#split the string into a list
my_list = my_str.split()

#remove any duplicate words
my_set = set(my_list)

#intitialize temp variables
len1 = 0
lword = ""

#logic to find the longest word
for val in my_set:
    if len(val)>len1:
        lword = val
        len1 = len(val)

print("The longet word is: ",lword)

Problem 21: Find the shortest word in a string.

In [ ]:
#Enter a string
my_str = input("Enter a string: ")

#split the string into a list
my_list = my_str.split()

#remove any duplicate words
my_set = set(my_list)

#intitialize temp variables
len1 = 999
sword = ""

#logic to find the shortest word
for val in my_set:
    if len(val)<len1:
        sword = val
        len1 = len(val)

print("The longet word is: ",sword)

Problem 22: Reverse the order of words in a string

In [ ]:
#Enter a string
my_str = input("Enter the string: ")

#split the string
my_list = my_str.split()

#reverse the list
rev_list = my_list[::-1]

#join the reverse list
rev_str = " ".join(rev_list)

print("Reversed String: ", rev_str)

Problem 23: Check if a string is alphanumeric.

In [ ]:
#Enter a string 
my_str = input("Enter a string: ")

if my_str.isalnum() == True:
    print('The string is alphanumeric')
else:
    print('The string is not alphanumeric')

Problem 24: Extract all digits from a string.

In [ ]:
#Enter a string
my_str = 'Hello 123'

num_list = []

#logic to extract the numbers
for char in my_str:
    if char.isdigit() == True:
        num_list.append(char)

#print the numbers        
print(num_list)

Problem 25: Extract all alphabets from a string.

In [ ]:
#Enter a string
my_str = 'Hello 123'

char_list = []

#logic to extract the alphabets
for char in my_str:
    if char.isdigit() == False and char != ' ':
        char_list.append(char)
        
#print the characters        
print(char_list)

Problem 26: Count the number of uppercase letters in a string.

In [ ]:
#Enter a string
my_str = "Hello World"

count=0

#logic to extract the uppercase letters
for char in my_str:
    if char.isupper() == True:
        count += 1
        
#print the uppercase letters
print(count)

Problem 27: Count the number of lowercase letters in a string.

In [ ]:
#Enter a string
my_str = "Hello World"

count=0

#logic to extract the lowercase letters
for char in my_str:
    if char.islower() == True:
        count += 1
        
#print the lowercase letters
print(count)

Problem 28: Swap the case of each character in a string.

In [ ]:
#Enter a string
my_str = 'Hello World'

#print the swapped case string
print(my_str.swapcase())

Problem 29: Remove a specific word from a string.

In [ ]:
#Input a string
my_str = input("Enter a string: ")

#Enter the word to remove
word = input("Enter the word to remove: ")

my_list = my_str.split()

if word in my_list:
    my_list.remove(word)

final_str = " ".join(my_list)

#print the final string
print(final_str)

Problem 30: Check if a string is a valid email address.

In [ ]:
#import the RegEx module
import re

#define the email pattern
pattern = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'

#enter the email address
email = input("Enter an email address: ")

#match the pattern and input
match = re.fullmatch(pattern,email)

#check if match is None
if match is not None:
    print("Valid Email")
else:
    print("Invalid Email")

Problem 31: Extract the username from an email address string.

In [ ]:
#Enter email address
email = 'susobhan.roy99@outlook.com'

#extract the username
username = email.split("@")[0]

#print the username
print(username)

Problem 32: Extract the domain name from an email address string.

In [ ]:
#Enter email address
email = 'susobhan.roy99@outlook.com'

#extract the domain name
domain = my_str.split("@")[1]

#print the domain name
print(domain)

Problem 33: Replace multiple spaces in a string with a single space.

In [ ]:
#Enter a string
my_str =" The    pen is      mightier   than   the sword"

#split the string into a list
my_list = my_str.split()

new_str = " ".join(my_list)

#final string with single spaces
print(new_str)

Problem 34: Check if a string is a valid URL.

In [ ]:
#import URLparse
from urllib.parse import urlparse

#define function to check for Valid Url
def valid_url(url):
    check = urlparse(url)
    if check.scheme and check.netloc:
        print("Valid url")
    else:
        print("Invalid url")

#check 
url = "HTTPS://www.google.com//"
valid_url(url)

Problem 35: Extract the protocol (http or https) from a URL string

In [ ]:
#function to extract the protocol
def extract_p(url):
    #check the position of '://'
    pos = url.find('://')
    #confirm the postion is not at the end
    if pos != -1:
        print(url[:pos])
    else:
        print("Invalid Url")

#Enter an url
url = "HTTPS://www.google.com//"
extract_p(url)

Problem 36: Find the frequency of each character in a string.

In [ ]:
#define function to calculate the frequency
def frequency(my_str):
    my_str= my_str.lower()
    my_dict={}
    for char in my_str:
        if char in my_dict:
            my_dict[char] += 1
        else:
            my_dict[char] = 1
    print("The frequency: ", my_dict)

inp_str = input("Enter a string: ")
frequency(inp_str)

Problem 37: Remove all punctuation from a string.

In [ ]:
#function to remove punctuation
def remove_punc(my_str):
    result = filter(lambda x: x.isdigit() or x.isalpha() or x.isspace(),my_str)
    res_str = " "
    for char in result:
        res_str+= char
    return res_str

#input a string
inp_str = input('Enter a string: ')
print("Original String: ", inp_str)
print("String without punction: ", remove_punc(inp_str))

Problem 38: Check if a string contains only digits.

In [ ]:
#Enter a string
inp_str = input('Enter a string: ')

if(inp_str.isdigit() == True):
    print('All characters are digits!')
else:
    print('All characters are not digits!')

Problem 39: Check if a string contains only alphabets.

In [ ]:
#Enter a string
inp_str = input('Enter a string: ')

if(inp_str.isalpha() == True):
    print('All characters are alphabets!')
else:
    print('All characters are not alphabets!')

Problem 40: Convert a string to a list of characters

In [ ]:
#Enter a string
inp_str = input('Enter a string: ')

res_list =[]

#convert string to a list of characters
for word in inp_str:
       res_list.extend(word.split())

#result list
print(res_list)

Problem 41: Check if two strings are anagrams

In [ ]:
def anagram(str1,str2):
    if (sorted(str1) == sorted(str2)):
        print('The strings are anagram')
    else:
        print('The strings are not anagrams')

#Enter 1st string
inp1= input('Enter 1st string: ')
#Enter 2nd string
inp2 = input('Enter 2nd string: ')

#check for anagram
anagram(inp1.lower(),inp2.lower())

Problem 42: Encode a string using a Caesar cipher.

In [ ]:
#ASCII values
# A-Z: 65 to 90
# a-z: 97 to 122
#encrypt function
def encrypt(my_str,s):
    res_wrod = ""
    for char in my_str:
        if char.isalpha():
            if char.isupper():
                res_wrod += chr((ord(char) + s-65)%26 + 65)
            else:
                res_wrod += chr((ord(char) + s-97)%26 + 97)
        else:
            res_wrod += char
    return res_wrod

inp_str = input("Enter the string in encode: ")
step = int(input("Enter the step size: "))

print("The encoded string is: ",encrypt(inp_str,step))

Problem 43: Decode a Caesar cipher encoded string.

In [ ]:
#decode function
def decode(my_str,s):
    res_wrod = ""
    for char in my_str:
        if char.isalpha():
            if char.isupper():
                res_wrod += chr((ord(char) - s-65)%26 + 65)
            else:
                res_wrod += chr((ord(char) - s-97)%26 + 97)
        else:
            res_wrod += char
    return res_wrod

inp_str = input("Enter the string in decode: ")
step = int(input("Enter the step size: "))

print("The decoded string is: ",decode(inp_str,step))

Problem 44: Find the most frequent word in a string.

In [ ]:
import re
from collections import Counter
#highest_word
def high_word(my_str):
    my_list = my_str.split()
    #get the frequency of the words
    my_counter = Counter(my_list)
    #get the most frequent word
    frequent = my_counter.most_common(1)[0][0]
    return frequent
    
#Enter the string:
inp_str = input('Enter a string: ')

#remove the punctuations
res_str = re.sub(r'[^\w\s]', '', inp_str).lower()

#print the most frequent word
print("The most frequent word is:", end=" ")
print(high_word(res_str.lower()))

Problem 45: Find all unique words in a string.

In [ ]:
#find uniqeue words
def unique(my_str):
    #remove the punctuations
    res_str = re.sub(r'[^\w\s]', '', my_str).lower()
    #get the unique words
    u_words = set(res_str.split())
    return u_words
    
    
#input a string
inp_str = input("Enter a string: ")

print(unique(inp_str))

Problem 46: Count the number of syllables in a string.

In [ ]:
import re
#Count the number of syllables
def count_sylbl(word):
    #get the list of syllables in the word
    list_syllables = re.findall('[aeiou]+',word,re.IGNORECASE)
    #return the number of syllables
    return len(list_syllables)

#input a word
inp_str = input("Enter a word")

print("The number of syllables in your word is: ",count_sylbl(inp_str))

Problem 47: Check if a string contains any special characters.

In [ ]:
import re
def findsc(word):
    #define the special characters
    pattern = re.compile('[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    #check for the special characters
    match = pattern.search(word)
    return bool(match)

#input a word
inp_str = input("Enter a word")
res = findsc(inp_str)
if res == True:
    print('Your string has special character')
else:
    print('Your string does not have special character')

Problem 48: Remove the nth word from a string

In [ ]:
def RemoveNthWord(string,pos):
    #split the string into a lits of words
    words = string.split()
    #remove the word from nth position and get the word
    del_word = words.pop(pos-1)
    #join the remaining string
    rem_string = " ".join(words)
    return (rem_string,del_word)

#Enter a string
inp_str = input("Enter a string: ")
#Enter the position of the word to be deleted
pos = int(input("Enter the delete word position"))


if pos<1 or pos>len(inp_str.split()):
    print ("Invalid Input")
else:
    rem_string,del_word =  RemoveNthWord(inp_str,pos)
    #Print the remaining string
    print("The remaining string: ", rem_string)
    #Print the word deleted 
    print("The deleted word is: ",del_word)

Problem 49: Insert a word at the nth position in a string.

In [ ]:
def AddNthWord(string,pos,nword):
    #split the string into a lits of words
    words = string.split()
    #add the new word in the nth position 
    words.insert(pos-1,nword)
    #join the remaining string
    new_string = " ".join(words)
    return (new_string)

#Enter a string
inp_str = input("Enter a string: ")
#Enter the position of the word to be deleted
pos = int(input("Enter the new word position"))
#Enter the word deleted 
nword = input("Enter the new word")    

if pos<1 or pos>len(inp_str.split()):
    print ("Invalid Input")
else:
    new_string =  AddNthWord(inp_str,pos,nword)
    #Print the new string
    print("The new string: ", new_string)

Prosblem 50: Convert a CSV string to a list of lists.

In [ ]:
csv_data = "Student,Subject,Marks\nAmit,Computer,92\nKalpesh,Physics,88"

def CsvToList(data):
    final_list = []
    #split the data on new line
    meta_data = data.split('\n')
    #split each of meta data into list
    for dataset in meta_data:
        final_list.append(dataset.split(','))
    return final_list

CsvToList(csv_data)

LIST

Problem 1: Create a list with integers from 1 to 10

In [ ]:
l = [i for i in range (1,11)]
print(l)

Problem 2: Find the length of a list without using the `len()` function

In [ ]:
#create a list
l = [i for i in range (1,21)]
#initialize the counter
count =0
#run a loop to count the number of elements which is the length
for elements in l:
    count = count + 1
#print the length
print("The length of the list is: ",count)

Problem 3: Append an element to the end of a list

In [ ]:
#create a list
mylist = ['rohit','virat','rahul']
print('Original list: ',mylist)
add_element = 'bumrah'
#add the new element at the end
mylist.append(add_element)
print('Appended list: ',mylist)

Problem 4: Insert an element at a specific index in a list

In [ ]:
#create a list
mylist = ['rohit','virat','rahul']
print('Original list: ',mylist)
#Enter the position and the new element
pos = int(input('Enter the position you want to enter the element: '))
element = input('Enter the new element: ')
if pos-1<=len(mylist):
    #insert the element at the specified position
    mylist.insert(pos-1,element)
else:
    print('Invalid Position')
print('New List: ',mylist)

Problem 5: Remove an element from a list by its value.

In [ ]:
#create a list
my_list = ['rohit', 'virat', 'bumrah', 'rahul']
print('The current list: ',my_list)

#enter the value to be deleted
del_element = input('Enter the element to be deleted: ')

#check if the element to be deleted is in the list
if del_element in my_list:
    my_list.remove(del_element)
    print('The new list is: ',my_list)
else:
    print('The element is not on the list')

Problem 6: Remove an element from a list by its index.

In [ ]:
#create a list
mylist = ['rohit','virat','rahul','bumrah']
print('Original list: ',mylist)

#Enter the position to be deleted
pos = int(input('Enter the position you want to delete: '))

if pos-1<=len(mylist):
    #delete the element at the specified position
    mylist.pop(pos-1)
else:
    print('Invalid Position')
print('New List: ',mylist)

Problem 7: Check if an element exists in a list

In [ ]:
#create a list
mylist = ['rohit','virat','rahul','bumrah']
print('Original list: ',mylist)

#Enter the element to check
element = input('Enter the element you want to check: ')

if element.lower() in mylist:
    print('{0} is in the list {1}'.format(element,mylist))
else:
    print('Element not found')

Problem 8: Find the index of the first occurrence of an element in a list

In [ ]:
#create a list
mylist = ['rohit','virat','rahul','bumrah','virat']
print('Original list: ',mylist)

#Enter the element to check
element = input('Enter the element you want to check: ')

if element.lower() in mylist:
    pos = my_list.index(element.lower())
    print('The first occurance of the element {0} is {1}'.format(element,pos+1))
else:
    print('Element not found')

Problem 9: Count the occurrences of an element in a list

In [ ]:
#create a list
mylist = [9,9,3,2,2,2,1,3,4,6]
print('Original list: ',mylist)

#Enter the element to check
element = int(input('Enter the element you want to check: '))

if element in mylist:
    count = mylist.count(element)
    print('The {0} element occurs {1} times'.format(element,count))
else:
    print('Element not found')

Problem 10: Reverse the order of elements in a list

In [ ]:
#create a list
mylist = [9,9,3,2,2,2,1,3,4,6]
print('Original list: ',mylist)

#reverse of the list
print('The reverse list is: ',mylist[::-1])

Problem 11: Sort a list in ascending order.

In [ ]:
#create a list
mylist = [9,9,3,2,2,2,1,3,4,6]
print('Original list: ',mylist)

#sort the list
mylist.sort()
print('The sorted list is: ', mylist)

Problem 12: Sort a list in descending order.

In [ ]:
#create a list
mylist = [9,9,3,2,2,2,1,3,4,6]
print('Original list: ',mylist)

#sort the list in descending order
mylist.sort(reverse=True)
print('The sorted list is: ', mylist)

Problem 13: Create a list of even numbers from 1 to 20.

In [ ]:
even_list = [i for i in range(1,21) if i%2==0]
print("The list of even numbers: ",even_list)

Problem 14: Create a list of odd numbers from 1 to 20.

In [ ]:
odd_list = [i for i in range(1,20) if i%2!=0]
print("The list of even numbers: ",odd_list)

Problem 15: Find the sum of all elements in a list.

In [ ]:
#create a list
mylist = [9,9,3,2,2,2,1,3,4,6]
print('Original list: ',mylist)

#sum of the elements in the list
sum_list = sum(mylist)
print('The sum of the list is: ',sum_list)

Problem 16: Find the maximum value in a list.

In [ ]:
#create a list
mylist = [9,9,3,2,2,2,1,3,4,6]
print('Original list: ',mylist)

#max element
max_element = max(mylist)
print('The maximum element of my list is: ',max_element)

Problem 17: Find the minimum value in a list.

In [ ]:
#create a list
mylist = [9,9,3,2,2,2,1,3,4,6]
print('Original list: ',mylist)

#min element
min_element = min(mylist)
print('The maximum element of my list is: ',min_element)

Problem 18: Create a list of squares of numbers from 1 to 10.

In [ ]:
square_list = [i**2 for i in range (1,11)]
print(square_list)

Problem 19: Create a list of random numbers.

In [ ]:
import random
random_list = [ random.randrange(1,100) for i in range(10)]
print('The list of randomm numbers: ', random_list)

Problem 20: Remove duplicates from a list.

In [ ]:
#create a list
mylist = [9,9,3,2,2,2,1,3,4,6]
print('Original list: ',mylist)

#Remove duplicates
NonDup_list = list(set(mylist))
print('The list without duplicates: ', NonDup_list)

Problem 21: Find the common elements between two lists.

list1 = [9,9,3,2,2,2,1,3,4,6]
list2 = [8,6,1,7,6,8,1,7,7,1]
print('List 1: ',list1)
print('List 2: ',list2)

c_list = list(set(list1).intersection(list2))
print('The common elements are: ',c_list)

Problem 22: Find the difference between two lists.

In [ ]:
list1 = [9,9,3,2,2,2,1,3,4,6]
list2 = [8,6,1,7,6,8,1,7,7,1]
print('List 1: ',list1)
print('List 2: ',list2)

d_list = list(set(list1).difference(list2))
print('The difference is: ',d_list)

Problem 23: Merge two lists.

In [ ]:
list1 = [9,9,3,2,2,2,1,3,4,6]
list2 = [8,6,1,7,6,8,1,7,7,1]
print('List 1: ',list1)
print('List 2: ',list2)

m_list = list1 + list2
print('The merged list is: ',m_list)

Problem 24: Multiply all elements in a list by 2.

In [ ]:
#create a list
mylist = [9,9,3,2,2,2,1,3,4,6]
print('Original list: ',mylist)

#multiply by 2
multiply_list = [i*2 for i in mylist]
print('The elements multiplied by 2: ', multiply_list)

Problem 25: Filter out all even numbers from a list.

In [ ]:
#create a list
mylist = [9,9,3,2,2,2,1,3,4,6]
print('Original list: ',mylist)

#even elements
even_list = [i for i in mylist if i%2==0]
print('The even elements list: ',even_list)

Problem 26: Convert a list of strings to a list of integers.

In [ ]:
#create a list
mylist = ['9','9','3','2','2','2','1','3','4','6']
print('Original list: ',mylist)

#convert list of strings to int
int_list = [int(i) for i in mylist]
print('The integers list: ',int_list)

Problem 27: Convert a list of integers to a list of strings.

In [ ]:
#create a list
mylist = [9,9,3,2,2,2,1,3,4,6]
print('Original list: ',mylist)

#convert list of integers into strings
str_list = [str(i) for i in mylist]
print('The strings list: ',str_list)

Problem 28: Flatten a nested list.

In [ ]:
#create a list
mylist = [[9,9,3],[2,2],[2],[1],[3,4,6],7]
print('Original list: ',mylist)

f_list=[]

#flattened list
for elements in mylist:
    if type(elements) == list:
        for x in elements:
            f_list.append(x)
    else:
        f_list.append(elements)
print('The falttened list is: ',f_list)

Problem 29: Create a list of the first 10 Fibonacci numbers.

In [ ]:
#fibonacci series
def fibo(n):
    if n==0 or n==1:
        return n
    else:
        return fibo(n-1) + fibo (n-2)

#fibonacci list
fibo_list=[]

#populate list
for i in range(0,10):
        fibo_list.append(fibo(i))

print('The fibonacci list is: ',fibo_list)

Problem 30: Check if a list is sorted.

In [ ]:
def check_sorted(data):
    #sort the data in ascending order
    asc_sort = sorted(data)
    #sort the data in descending order 
    dsc_sort = sorted(data,reverse=True)
    #check the current list is sorted in ascending or descending order
    if data==asc_sort or data==dsc_sort:
        print('The list is sorted')
    else:
        print('The list is not sorted')

#create a list
list1 = [9,9,3,2,2,2,1,3,4,6]
list2 = [1, 2, 2, 2, 3, 3, 4, 6, 9, 9]

#check if list is sorted
print('The list1 is: ',list1)
check_sorted(list1)
print('The list2 is: ',list2)
check_sorted(list2)

Problem 31: Rotate a list to the left by `n` positions.

In [ ]:
#create a list
mylist = [9,9,3,2,2,2,1,3,4,6]
#mylist = [1, 2, 2, 2, 3, 3, 4, 6, 9, 9]
print('Original list: ',mylist)

#get the length of the list
l = len(mylist)
#enter the number of shifts
n=int(input('Enter the number of shifts: '))
#normalize the shifts 
n=n%l
#result list
#print(mylist[n:])
#print(mylist[:n])
ls_list = mylist[n:]+mylist[:n]
print('The shifted list is: ',ls_list)

Problem 32: Rotate a list to the right by `n` positions.

In [ ]:
#create a list
mylist = [9,9,3,2,2,2,1,3,4,6]
#mylist = [1, 2, 2, 2, 3, 3, 4, 6, 9, 9]
print('Original list: ',mylist)

#get the length of the list
l = len(mylist)
#enter the number of shifts
n=int(input('Enter the number of shifts: '))
#normalize the shifts 
n=n%l
#result list
#print(mylist[-n:])
#print(mylist[:-n])
rs_list = mylist[-n:] + mylist[:-n]
print('The shifted list is: ',rs_list)

Problem 33: Create a list of prime numbers up to 50

In [ ]:
import math

#check for prime
def check_prime(n):
    flag=0
    if n==2 or n==3:
        return True
    else:
        s = int(math.sqrt(n)) + 1
        for i in range (2,s):
            if n%i==0:
                flag=1
                break
        if flag==0:
            return True
        else:
            return False
                
#check in the range
prime_list = [x for x in range(2,50) if check_prime(x)]
#Print the list
print('The prime number list: ',prime_list)

Problem 34: Split a list into chunks of size `n`.

In [ ]:
#create a list
mylist = [9,9,3,2,2,2,1,3,4,6]
print('Original list: ',mylist)

#Enter the size of the chunks
n = int(input('Enter the size of the chunks: '))

l = len(mylist)
i=0
flist =[]
while i<l:
    flist.append(mylist[i:i+n])
    i=i+n
    
print(flist)

Problem 35: Find the second largest number in a list.

In [ ]:
#create a list
mylist = [9,9,3,2,2,2,1,3,4,6]
print('Original list: ',mylist)

m1=max(mylist)
tlist = [i for i in mylist if i!=m1]

print("The second largest number is:",max(tlist))

Problem 36: Replace every element in a list with its square.

In [ ]:
#create a list
mylist = [9,9,3,2,2,2,1,3,4,6]
print('Original list: ',mylist)
slist = [i**2 for i in mylist]
print('The squared list is: ',slist)

Problem 37: Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
#create a list
mylist = ['Rohit','Virat','Rahul','Shami']
print('Original list: ',mylist)

#create a dict
mydict = {key:value for value,key in enumerate(mylist,1)}
print('The Dictionary is: ',mydict)

Problem 38: Shuffle the elements of a list randomly.

In [ ]:
import random
#create a list
mylist = [9,9,3,2,2,2,1,3,4,6]
print('Original list: ',mylist)

#randomize the list
random.shuffle(mylist)
print("The shuffled list is: ",mylist)

Problem 39: Create a list of the first 10 factorial numbers.

In [ ]:
#define factorial function
def fact(n):
    if n<=1:
        return 1
    else:
        return n*fact(n-1)

#generate the list
mylist=[]
for i in range(10):
    mylist.append(fact(i))
    
print('The list of first 10 factorial numbers: ',mylist)

Problem 40: Check if two lists have at least one element in common

In [ ]:
list1 = [9,9,3,2,2,2,1,3,4,6]
list2 = [8,6,1,7,6,8,1,7,7,1]
print('List 1: ',list1)
print('List 2: ',list2)

#Extract the common elements in a list
c_list = list(set(list1).intersection(list2))

#check if there are any common elements
if len(c_list)>0:
    print('There are {0} common elements'.format(len(c_list)))
else:
    print('There are no common elements')

Problem 41: Remove all elements from a list.

In [ ]:
#create a list
mylist1 = [9,9,3,2,2,2,1,3,4,6]
print('Original list1: ',mylist1)

mylist2 = [8,6,1,7,6,8,1,7,7,1]
print('Original list2: ',mylist2)

#removing all the elements using clear func
mylist1.clear()
print('List1: ', mylist1)

#removing all the elements using del func
del(mylist2[::])
print('List2: ',mylist2)

Problem 42: Replace negative numbers in a list with 0.

In [ ]:
#create a list
mylist = [-9,9,3,-2,2,-2,1,3,-4,6]
print('Original list: ',mylist)

#convert the negative list elements to 0
pos_list = list(map(lambda n: 0 if n<0 else n,mylist))
print('The converted list is: ',pos_list)

Problem 43: Convert a string into a list of words.

In [ ]:
#take an input for a string of words
inp = input("Enter a string of words: ")

#convert the string into a list of words
out_list = inp.split()
print('The converted list is: ',out_list)

Problem 44: Convert a list of words into a string.

In [ ]:
#create a list of words
mylist = ['the' ,'sun' ,'rises' ,'in' ,'the' ,'east']

#convert the list of words into a string
string = " ".join(mylist)
print('The converted string is: ',string)

Problem 45: Create a list of the first `n` powers of 2.

In [ ]:
#enter the n poower of 2
n = int(input('Enter the power of 2: '))

mylist = [2**x for x in range (n)]
print("The list of first n powers of 2: ",mylist)

Problem 46: Find the longest string in a list of strings.

In [ ]:
#create a list
mylist = ['Today', 'is', 'a', 'bright', 'sunny', 'day']
#create a list with the length of the strings 
len_list = [len(i) for i in mylist]
#find the position of the max length
max_pos = len_list.index(max(len_list))
#print the string at the pos with max length
print('The longest string in the list is: ',mylist[max_pos])

Problem 47: Find the shortest string in a list of strings.

In [ ]:
#create a list
mylist = ['Today', 'is', 'a', 'bright', 'sunny', 'day']
#create a list with the length of the strings
len_list = [len(i) for i in mylist]
#find the position of the min length
min_pos = len_list.index(min(len_list))
#print the string at the minimum length position
print('The longest string in the list is: ',mylist[min_pos])

Problem 48: Create a list of the first `n` triangular numbers.

In [ ]:
#take the input of n
n = int(input('Enter the value of n: '))

#create a temp list of number upto n
temp_list = [i for i in range(1,n+1)]

#logic to generate the n triangular numbers
mylist = [sum(temp_list[:i+1]) for i in range (n)]

print('The list of the first {0} Triangular numbers is: {1}'.format(n,mylist))

Problem 49: Check if a list contains another list as a subsequence.

In [ ]:
#crete list
mylist = ['Apple',5,6,7,['Hello','World'],'Banana',10]
print('The original list is: ',mylist)

#create a temp list with the type of each of element in the list
type_list = [type(i) for i in mylist]

#check if any of the elements is a list
if list in type_list:
    print('List is present')
else:
    print('List is not present')

Problem 50: Swap two elements in a list by their indices

In [ ]:
#create a list
mylist = [9,9,3,2,2,2,1,3,4,6]
print('Original list1: ',mylist)

#Enter the positions you want to swap
pos1 = int(input('Enter the 1st position to swap:'))
pos2 = int(input('Enter the 2nd position to swap:'))

#logic to swap the list
mylist[pos1],mylist[pos2] = mylist[pos2],mylist[pos1]
print('The swapped list is: ',mylist)

Tuple

Problem 1: Create a tuple with integers from 1 to 5.

In [ ]:
#generate a list of numbers and type cast into tuples
mytuple = tuple(i for i in range (1,6))
print('The tuple from 1 to 5 is: ',mytuple)

Problem 2: Access the third element of a tuple.

In [ ]:
#create a tuple
mytuple = (3,4,8,9,0,2,7)
print('The original tuple is: ',mytuple)
#accessing the 3rd element of a tuple
print('The third elemnt of the tuple is: ',mytuple[2])

Problem 3: Find the length of a tuple without using the `len()` function.

In [ ]:
#create a tuple
mytuple = (3,4,8,9,0,2,7)
print('The original tuple is: ',mytuple)
#variable to calulate the length
len=0
for i in mytuple:
    len = len+1
#print the length of the tuple
print('The length of the tuple is: ',len)

Problem 4: Count the occurrences of an element in a tuple.

In [ ]:
#create a tuple
mytuple = (3,4,8,9,0,2,7,2,2,3)
print('The original tuple is: ',mytuple)
#take user input
n = int(input('Enter the number to find the frequency: '))
#find and print the number of occurance of the input number
print('The number {0} occurs {1} times in the tuple.'.format(n,mytuple.count(n)))

Problem 5: Find the index of the first occurrence of an element in a tuple.

In [ ]:
#create a tuple
mytuple = (3,4,8,9,0,2,7,2,2,3)
print('The original tuple is: ',mytuple)
#take user input
n = int(input('Enter the number to find the index: '))
#position of the first index of the number is:
print('The number {0} has the first occurance in the {1} position.'.format(n,mytuple.index(n)))

Problem 6: Check if an element exists in a tuple.

In [ ]:
#create a tuple
mytuple = (3,4,8,9,0,2,7,2,2,3)
print('The original tuple is: ',mytuple)
#take user input
n = int(input('Enter the number to find: '))
#logic to find
if n in mytuple:
    print('Element Found!')
else:
    print('Element not found!')

Problem 7:Convert a tuple to a list.

In [ ]:
#create a tuple
mytuple = (3,4,8,9,0,2,7,2,2,3)
print('The original tuple is: ',mytuple)
#converting and printing the list
print('The converted list is: ',list(mytuple))

Problem 8: Convert a list to a tuple.

In [ ]:
#create a list
mylist = [9,9,3,2,2,2,1,3,4,6]
print('Original list: ',mylist)
#converting and printing the tuple
print('The converted tuple is: ',tuple(mylist))

Problem 9: Unpack the elements of a tuple into variables.

In [ ]:
#create a tuple
mytuple = (3,4,8)
print('The original tuple is: ',mytuple)
#unpacking the elements in variables
x,y,z=mytuple
print('The elements of the tuple are: ',x,y,z)

Problem 10: Create a tuple of even numbers from 1 to 10.

In [ ]:
#create the tuple with even numbers
even_tuple = tuple(x for x in range(1,11) if x%2==0)
print('The tuple of even numbers from 1 to 10 is: ',even_tuple)

Problem 11: Create a tuple of odd numbers from 1 to 10.

In [ ]:
#create the tuple with odd numbers
odd_tuple = tuple(x for x in range(1,11) if x%2!=0)
print('The tuple of odd numbers from 1 to 10 is: ',odd_tuple)

Problem 12: Concatenate two tuples.

In [ ]:
#create first tuple
tuple1 = (1,2,3)
print('The first tuple is: ',tuple1)
#create second tuple
tuple2 = (4,5,6)
print('The second tuple is: ',tuple2)
#concatenate tuple
con_tuple = tuple1 + tuple2
print('The concatenated tuple is: ',con_tuple)

Problem 13: Repeat a tuple three times.

In [ ]:
#create a tuple
mytuple = (3,4,8,9)
print('The original tuple is: ',mytuple)
#Repeating the tuple 3 times
print('Repeating the tuple 3 times: ',mytuple * 3)

Problem 14: Check if a tuple is empty.

In [ ]:
#create a tuple
mytuple = (3,4,8,9)
print('The original tuple is: ',mytuple)
#logic to check if a tuple is empty
if len(mytuple) == 0:
    print('Tuple Empty!')
else:
    print('Tuple not empty!')

Problem 15: Create a nested tuple.

In [ ]:
#Nested Tuple
nested_tuple = (1,2,3,('x','y','z'))
print('Example of a nested tuple:',nested_tuple)

Problem 16: Access the first element of a nested tuple.

In [ ]:
#Nested Tuple
nested_tuple = ((1,2,3),('x','y','z'))
print('Example of a nested tuple:',nested_tuple)
#first element
print('The first element of the nested tuple is: ',nested_tuple[0][0])

Problem 17: Create a tuple with a single element.

In [ ]:
#single element tuple
single_tuple = (2)
print('Example of a single element tuple is: ',single_tuple)

Problem 18: Compare two tuples.

In [ ]:
#create first tuple
tuple1 = (1,2,3)
print('The first tuple is: ',tuple1)
#create second tuple
tuple2 = (4,5,6)
print('The second tuple is: ',tuple2)

#Comparison Logic
# Equality check
print("tuple1 == tuple2:", tuple1 == tuple2)  
# Inequality check
print("tuple1 != tuple2:", tuple1 != tuple2)  
# Less than check
print("tuple1 < tuple2:", tuple1 < tuple2)    
# Less than or equal to check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
# Greater than check
print("tuple1 > tuple2:", tuple1 > tuple2)   
# Greater than or equal to check
print("tuple1 >= tuple2:", tuple1 >= tuple2)

Problem 19: Delete a tuple.

In [ ]:
#create a tuple
mytuple = (3,4,8,9)
print('The original tuple is: ',mytuple)
#delete a tuple
del(mytuple)
print(mytuple)

Problem 20: Slice a tuple.

In [ ]:
#create a tuple
mytuple = (3,4,8,9)
print('The original tuple is: ',mytuple)
#slice a tuple
print('Sliced Tuple: ',mytuple[1:4])

Problem 21:Find the maximum value in a tuple.

In [ ]:
#create a tuple
mytuple = (3,4,8,9)
print('The original tuple is: ',mytuple)
#Max value in a tuple 
print('The maximum value in the tuple is: ',max(mytuple))

Problem 22: Find the minimum value in a tuple.

In [ ]:
#create a tuple
mytuple = (3,4,8,9)
print('The original tuple is: ',mytuple)
#Min value in a tuple 
print('The minimum value in the tuple is: ',min(mytuple))

Problem 23: Convert a string to a tuple of characters.

In [ ]:
#create a string
mystring = "Hello World"
print('Original string is: ',mystring)
#convert the string into tuple of chars
print('Tuple of chars: ',tuple(mystring))

Problem 24: Convert a tuple of characters to a string.

In [ ]:
#create a tuple of chars
mytuple = ('S','u','s','o')
print('Original tuple is: ',mytuple)
#converting tuple to string
print('The string is: ',"".join(mytuple))

Problem 25: Create a tuple from multiple data types.

In [ ]:
#create a tuple of multiple data type
mytuple = (3,'a',8.0,True)
print('The multi data type tuple is: ',mytuple)

Problem 26: Check if two tuples are identical.

In [ ]:
tup1 = (1,2,3)
print('First Tuple: ',tup1)
tup2 = (4,5,6)
print('Second Tuple: ',tup2)
tup3 = (1,2,3)
print('Third Tuple: ',tup3)

print('Tuple 1 and Tuple 2 are identical: ', tup1 == tup2)
print('Tuple 1 and Tuple 3 are identical: ', tup1 == tup3)
print('Tuple 2 and Tuple 3 are identical: ', tup2 == tup3)

Problem 27: Sort the elements of a tuple.

In [ ]:
#create a tuple
mytuple = (3,8,4,9,5,6)
print('The original tuple is: ',mytuple)
#Sort the tuple
res_tuple = sorted(mytuple)
print(res_tuple)

Problem 28: Convert a tuple of integers to a tuple of strings.

In [ ]:
#integer tuple
int_tuple = (3,8,4,9,5,6)
print('The tuple of integers is: ',int_tuple)
#convert the integers to strings
str_tuple = tuple(str(x) for x in int_tuple)
print('The tuple of strings: ',str_tuple)

Problem 29: Convert a tuple of strings to a tuple of integers.

In [ ]:
#string tuple
str_tuple = ('9','9','1','3')
print('The string tuple is: ',str_tuple)
#convert the strings to integers
int_tuple =  tuple(int(x) for x in str_tuple)
print('The tuple of integers is: ',int_tuple)

Problem 30: Merge two tuples.

In [ ]:
tup1 = (1,2,3)
print('First Tuple: ',tup1)
tup2 = (4,5,6)
print('Second Tuple: ',tup2)

#merge tuple
merged_tuple = tup1 + tup2
print('The merged tuple is: ',merged_tuple)

Problem 31: Flatten a nested tuple.

In [ ]:
#create a tuple
mytuple = (3,8,(4,9),5,6,(True,False))
print('The original tuple is: ',mytuple)

#Logic to flatten the tulple
temp_list = [] #create a temporary list
for element in mytuple:
    if type(element) == tuple:
        for i in element:
            temp_list.append(i)
    else:
        temp_list.append(element)

#print the flattened tuple
print('The flattened tuple is: ',tuple(temp_list))

Problem 32: Create a tuple of the first 5 prime numbers.

In [ ]:
import math
#check for prime
def check_prime(n):
    flag=0
    if n==2 or n==3:
        return True
    else:
        s = int(math.sqrt(n)) + 1
        for i in range (2,s):
            if n%i==0:
                flag=1
                break
        if flag==0:
            return True
        else:
            return False

#create a temp list
temp_list = []
num=2
#check till the length of the list is 5
while len(temp_list) <5:
    if check_prime(num):
        temp_list.append(num)
    num = num+1

#print the tuple of first 
print('The tuple of first 5 prime numbers: ',tuple(temp_list))

Problem 33: Check if a tuple is a palindrome.

In [ ]:
#check for Palindrome
def check_palindrome(tuplex):
    temp = tuplex[::-1]
    if temp == tuplex:
        print('The Tuple {0} is Palindrome'.format(tuplex))
    else:
        print('The Tuple {0} is not Palindrome'.format(tuplex))

#Tuple1
tuple1 = (3,8,4,9,5,6)
print('The first tuple is: ',tuple1)
check_palindrome(tuple1)
#Tuple2
tuple2 = (1,2,3,2,1)
print('The second tuple is: ',tuple2)
check_palindrome(tuple2)

Problem 34: Create a tuple of squares of numbers from 1 to 5.

In [ ]:
#create the tuple of squares
mytuple = tuple(x**2 for x in range(1,6))
print(mytuple)

Problem 35: Filter out all even numbers from a tuple.

In [ ]:
#create a tuple with number from 1 to 10
mytuple = tuple(x for x in range(1,11))
print('The original tuple is: ',mytuple)

#even tuples
even_tuples = tuple(filter(lambda x:x%2==0,mytuple))
print('The even numbers in tuple: ',even_tuples)

In [ ]:
#create a tuple with number from 1 to 10
mytuple = tuple(x for x in range(1,11))
print('The original tuple is: ',mytuple)

#odd tuples
odd_tuples = tuple(filter(lambda x:x%2!=0,mytuple))
print('The odd numbers in tuple: ',odd_tuples)

Problem 36: Multiply all elements in a tuple by 2.

In [ ]:
#create a tuple with number from 1 to 10
mytuple = tuple(x for x in range(1,11))
print('The original tuple is: ',mytuple)

#Multiply by all elemets by 2
res_tuple = tuple(x*2 for x in mytuple)

print('The result tuple: ',res_tuple)

Problem 37: Create a tuple of random numbers.

In [ ]:
import random 
random_tuple = tuple(random.randrange(10,100) for i in range(10))
print(random_tuple)

Problem 38: Check if a tuple is sorted.

In [ ]:
def check_sorted(data):
    #sort the data in ascending order
    asc_sort = sorted(data)
    #sort the data in descending order 
    dsc_sort = sorted(data,reverse=True)
    #check the current tuple is sorted in ascending or descending order
    if data==asc_sort or data==dsc_sort:
        print('The tuple is sorted')
    else:
        print('The tuple is not sorted')

#create tuples 
tup1 = (4,3,2,1)
tup2 = (1,4,2,3)

#check if tuples are sorted 
print('The tuple 1 is: ',tup1)
check_sorted(tup1)
print('The tuple 2 is: ',tup2)
check_sorted(tup2)

Problem 39: Rotate a tuple to the left by `n` positions.

In [ ]:
#create a tuple
mytuple = (1,2,3,4,5,6,7,8,9)
print('The original tuple is: ',mytuple)

#enter the number of positions to rotate
n = int(input('Enter the number of positions to rotate: '))
#find the net rotation
n = n%len(mytuple)
#perform the rotation
left_tuple = mytuple[n:] + mytuple[:n]
print('The tuple after rotation is: ',left_tuple)

Problem 40: Rotate a tuple to the right by `n` positions.

In [ ]:
#create a tuple
mytuple = (1,2,3,4,5,6,7,8,9)
print('The original tuple is: ',mytuple)

#enter the number of positions to rotate
n = int(input('Enter the number of positions to rotate: '))
#find the net rotation
n = n%len(mytuple)
#perform the rotation
right_tuple = mytuple[-n:] + mytuple[:-n]
print('The tuple after rotation is: ',right_tuple)

Problem 41: Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
#fibonacci function
def fibo(n):
    if n<=1:
        return n
    else:
        return fibo(n-1)+fibo(n-2)
#create the tuple with first 5 tuples
mytuple = tuple(fibo(i) for i in range(5))
print('The tuple with first 5 fibonacci numbers: ',mytuple)

Problem 42:Create a tuple from user input.

In [ ]:
#Input on the length of the tuple
l =int(input('Enter the length of the tuple: '))
#define a blank list
temp_list = []
while l:
    #Get the elements from the user
    element = input('Enter the element: ')
    temp_list.append(element)
    l=l-1
#print the tuple
print('Your tuple is: ',tuple(temp_list))

Problem 43: Swap two elements in a tuple.

In [ ]:
#create a tuple
mytuple = (1,2,3,4,5,6,7,8,9)
print('The original tuple is: ',mytuple)

pos1 = int(input('Enter the first pos: ')) -1
pos2 = int(input('Enter the second pos: ')) -1

#convert the tuple to list
mylist = list(mytuple)
#swap the elements
mylist[pos1],mylist[pos2] = mylist[pos2],mylist[pos1]
#convert the list to tuple
conv_tuple = tuple(mylist)

print('The swappped tuple is: ',conv_tuple)

Problem 44: Reverse the elements of a tuple.

In [ ]:
#create a tuple
mytuple = (1,2,3,4,5,6,7,8,9)
print('The original tuple is: ',mytuple)

#reverse the tuple
print('The reveresed tuple is: ',mytuple[::-1])

Problem 45: Create a tuple of the first `n` powers of 2.

In [ ]:
#Enter the number
n = int(input('Enter the value of n: '))
#populate the tuple
mytuple = tuple(2**i for i in range(n))
print('The tuple with first {0} powers of 2: {1}'.format(n,mytuple))

Problem 46: Find the longest string in a tuple of strings.

In [ ]:
#create a tuple
mytuple = ('Today', 'is', 'a', 'bright', 'sunny', 'day')
print('The original tuple is: ',mytuple)
#create a tuple with the length of the strings 
len_tuple = tuple(len(i) for i in mytuple)
#find the position of the max length
max_pos = len_tuple.index(max(len_tuple))
#print the string at the pos with max length
print('The longest string in the tuple is: ',mytuple[max_pos])

Prosblem 47: Find the shortest string in a tuple of strings.

In [ ]:
#create a tuple
mytuple = ('Today', 'is', 'a', 'bright', 'sunny', 'day')
print('The original tuple is: ',mytuple)
#create a tuple with the length of the strings 
len_tuple = tuple(len(i) for i in mytuple)
#find the position of the min length
min_pos = len_tuple.index(min(len_tuple))
#print the string at the pos with max length
print('The longest string in the tuple is: ',mytuple[min_pos])

Problem 48: Create a tuple of the first `n` triangular numbers.

In [ ]:
#take the input of n
n = int(input('Enter the value of n: '))

#create a temp tuple of number upto n
temp_tuple = tuple(i for i in range(1,n+1))

#logic to generate the n triangular numbers
mytuple = tuple(sum(temp_tuple[:i+1]) for i in range (n))

print('The tuple of the first {0} Triangular numbers is: {1}'.format(n,mytuple))

Problem 49: Check if a tuple contains another tuple as a subsequence.

In [ ]:
#crete tuple
mytuple = ('Apple',5,6,7,['Hello','World'],'Banana',10,(True,False))
print('The original list is: ',mytuple)

#create a temp tuple with the type of each of element in the tuple
type_tuple = [type(i) for i in mytuple]

#check if any of the elements is a tuple
if tuple in type_tuple:
    print('Tuple is present')
else:
    print('Tuple is not present')

Problem 50: Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
#take the input of n
n = int(input('Enter the length of tuple: '))

#generate the tuple with alternate 1's and 0's
mytuple= tuple(1-(i%2) for i in range(n))
print(mytuple)

Topic: Set Based Practice Problem

Problem 1: Create a set with integers from 1 to 5.

In [ ]:
#set with integers from 1 to 5
myset = set(i for i in range (1,6))
print('The set of integers from 1 to 5 is: ',myset)

Problem 2: Add an element to a set.

In [ ]:
#create a set
myset = {1, 2, 3, 4, 5}
print('The original set is: ',myset)
#enter the element to inset
n = int(input('Enter the element to insert: '))
#insert the element if not present already
if n not in myset:
    myset.add(n)
    print('The new set is: ',myset)
else:
    print('The element to be inserted is already present in the set')

Problem 3: Remove an element from a set.

In [ ]:
#create a set
myset = {1, 2, 3, 4, 5}
print('The original set is: ',myset)
#enter the element to inset
n = int(input('Enter the element to remove: '))
#remove the element if present
if n in myset:
    myset.remove(n)
    print('The new set is: ',myset)
else:
    print('The element to delete is not present in the set.')

Problem 4: Check if an element exists in a set.

In [ ]:
#create a set
myset = {1, 2, 3, 4, 5}
print('The original set is: ',myset)
#enter the element to inset
n = int(input('Enter the element to check: '))
#logic to check
if n in myset:
    print('The element is present in the set!')
else:
    print('The element is not present in the set!')

Problem 5: Find the length of a set without using the `len()` function.

In [ ]:
#create a set
myset = {1, 2, 3, 4, 5}
print('The original set is: ',myset)
#declare a variable to store the length
l=0
#logic to calculate the length
for i in myset:
    l=l+1
print('The length of the set is:',l)

Problem 6: Clear all elements from a set.

In [ ]:
#create a set
myset = {1, 2, 3, 4, 5}
print('The original set is: ',myset)

#clear the set
myset.clear()
print('The current set is: ',myset)

Probelm 7: Create a set of even numbers from 1 to 10.

In [ ]:
#create a set of even numbers
even_set = set(i for i in range(1,11) if i%2==0)
print('The even set is: ',even_set)

Problem 8: Create a set of odd numbers from 1 to 10.

In [ ]:
#create a set of odd numbers
odd_set = set(i for i in range(1,10) if i%2!=0)
print('The odd set is: ',odd_set)

Problem 9: Find the union of two sets.

In [ ]:
#set1
set1 = {1,2,3,4,5}
print('The first set is: ',set1)
#set2
set2 = {4,5,6,7,8}
print('The second set is: ',set2)

#the union of the two sets is
print('The Union of the two sets is: ',set1.union(set2))

Problem 10: Find the intersection of two sets.

In [ ]:
#set1
set1 = {1,2,3,4,5}
print('The first set is: ',set1)
#set2
set2 = {4,5,6,7,8}
print('The second set is: ',set2)

#the intersection of the two sets is
print('The intersection of the two sets is: ',set1.intersection(set2))

Problem 11: Find the difference between two sets.

In [ ]:
#set1
set1 = {1,2,3,4,5}
print('The first set is: ',set1)
#set2
set2 = {4,5,6,7,8}
print('The second set is: ',set2)

#the difference of the two sets is
print('The difference of the two sets is: ',set1.difference(set2))

Problem 12: Check if a set is a subset of another set.

In [ ]:
#set1
set1 = {1,2,3,4,5}
print('The first set is: ',set1)
#set2
set2 = {4,5,6,7,8}
print('The second set is: ',set2)
#set3
set3 = {3,4,5}
print('The third set is: ',set3)
#check for subset
print('Set2 is a subset of Set1: ', set2.issubset(set1))
print('Set3 is a subset of Set2: ', set3.issubset(set2))
print('Set3 is a subset of Set1: ', set3.issubset(set1))

Problem 13: Check if a set is a superset of another set.

In [ ]:
#set1
set1 = {1,2,3,4,5}
print('The first set is: ',set1)
#set2
set2 = {4,5,6,7,8}
print('The second set is: ',set2)
#set3
set3 = {3,4,5}
print('The third set is: ',set3)
#check for superset
print('Set1 is a superset of Set2: ', set1.issuperset(set2))
print('Set2 is a superset of Set3: ', set2.issuperset(set3))
print('Set1 is a superset of Set3: ', set1.issuperset(set3))

Problem 14: Create a set from a list.

In [ ]:
#create a list
mylist = [4,5,8,9,2,4]
print('The original list is: ',mylist)
#convert the list to set
myset = set(mylist)
print('The converted set is: ',myset)

Problem 15: Convert a set to a list.

In [ ]:
#create a set
myset = {1, 2, 3, 4, 5}
print('The original set is: ',myset)
#convert the set to list
mylist = list(myset)
print('The converted list is: ',mylist)

Problem 16: Remove a random element from a set.

In [ ]:
import random
#create a set
myset = {1, 2, 3, 4, 5}
print('The original set is: ',myset)
#select the random number to remove
element= random.choice(list(myset))
#remove the element
myset.remove(element)
print('The element removed from the set is: ',element)
print('The current set is: ',myset)

Problem 17: Pop an element from a set.

In [ ]:
#create a set
myset = {1, 2, 3, 4, 5}
print('The original set is: ',myset)
#pop an element from the set
print('The element popped from the set is: ',myset.pop())
print('The current is set is: ',myset)

Problem 18: Check if two sets have no elements in common.

In [ ]:
#set1
set1 = {1,2,3,4,5}
print('The first set is: ',set1)
#set2
set2 = {4,5,6,7,8}
print('The second set is: ',set2)
#check for common elements
c_elements = set1.intersection(set2)
if len(c_elements)!=0:
    print('The common elements of the set are: ',c_elements)
else:
    print('There are no common elements')

Problem 19: Find the symmetric difference between two sets.

In [ ]:
#set1
set1 = {1,2,3,4,5}
print('The first set is: ',set1)
#set2
set2 = {4,5,6,7,8}
print('The second set is: ',set2)
#systematic difference
print('The systematic difference of the two sets is: ', set1.symmetric_difference(set2))

Problem 20: Update a set with elements from another set.

In [ ]:
#set1
set1 = {1,2,3,4,5}
print('The first set is: ',set1)
#set2
set2 = {4,5,6,7,8}
print('The second set is: ',set2)
#update set1 with the elements of set 2
set1.update(set2)
print('The updated set1 is: ',set1)

Problem 21: Create a set of the first 5 prime numbers.

In [ ]:
import math
#check for prime
def check_prime(n):
    flag=0
    if n==2 or n==3:
        return True
    else:
        s = int(math.sqrt(n)) + 1
        for i in range (2,s):
            if n%i==0:
                flag=1
                break
        if flag==0:
            return True
        else:
            return False

#create a temp set
temp_set = set()
num=2
#check till the length of the set is 5
while len(temp_set) <5:
    if check_prime(num):
        temp_set.add(num)
    num = num+1

#print the set of first 
print('The set of first 5 prime numbers: ',temp_set)

Problem 22: Check if two sets are identical.

In [ ]:
#set1
set1 = {1,2,3,4,5}
print('The first set is: ',set1)
#set2
set2 = {4,5,6,7,8}
print('The second set is: ',set2)
#set3
set3 = {1,2,3,4,5}
print('The third set is: ',set3)

print('Set1 is identical to Set2: ',(set1==set2))
print('Set2 is identical to Set3: ',(set2==set3))
print('Set3 is identical to Set1: ',(set3==set1))

Problem 23: Create a frozen set.

In [ ]:
#create a set
myset = {1,2,3,4,5}
print('The original set is: ',myset)
#create a frozen set
fset = frozenset(myset)
print('The frozen set is: ',fset)

Problem 24: Check if a set is disjoint with another set.

In [ ]:
#set1
set1 = {1,2,3,4,5}
print('The first set is: ',set1)
#set2
set2 = {4,5,6,7,8}
print('The second set is: ',set2)

print('Set1 is a disjoint of set2: ',set1.isdisjoint(set2))

Problem 25: Create a set of squares of numbers from 1 to 5.

In [ ]:
#create a set with squares
square_set = set(x**2 for x in range (1,6))
print('The square set is: ', square_set)

Problem 26: Filter out all even numbers from a set.

In [ ]:
#create a tuple with number from 1 to 10
myset = set(x for x in range(1,11))
print('The original tuple is: ',myset)

#even tuples
even_set = set(filter(lambda x:x%2==0,myset))
print('The even numbers in tuple: ',even_set)

Problem 27: Multiply all elements in a set by 2.

In [ ]:
#create a set
myset = {1,2,3,4,5}
print('The original set is: ',myset)

#Multiply all the elements of the set by 2
res_set = set(x*2 for x in myset)
print('The multiplied set is: ',res_set)

Problem 28: Create a set of random numbers.

In [ ]:
import random
#create the set of random numbers
random_set = set(random.randrange(1,100) for i in range(1,10))
print('The set of random range is: ',random_set)

Problem 29: Check if a set is empty.

In [ ]:
#create a set
myset1 = {1,2,3,4,5}
myset2 = set()
print('The original set1 is: ',myset1)
print('The original set1 is: ',myset2)

#check if the set is empty
print('The set1 is blank: ', not bool(myset1))
print('The set2 is blank: ', not bool(myset2))

Problem 30: Create a nested set

In [ ]:
#create two sets
#set1
set1 = {1,2,3,4,5}
print('The first set is: ',set1)
#set2
set2 = {4,5,6,7,8}
print('The second set is: ',set2)
#create frozensets
fset1 = frozenset(set1)
fset2 = frozenset(set2)
#create a nested set
nested_set = {fset1,fset2}
print('The nested set is: ',nested_set)

Problem 31: Remove an element from a set using the discard method.

In [ ]:
#create a set
myset = {1, 2, 3, 4, 5}
print('The original set is: ',myset)
#get the element to remove
element = int(input('Enter the element to remove: '))
#check if the element is in the set
if element in myset:
    myset.discard(element)
    print('The new set is: ',myset)
else:
    print('The element is not in the set.')

Problem 32: Compare two sets

In [ ]:
#create two sets
#set1
set1 = {1,2,3,4,5}
print('The first set is: ',set1)
#set2
set2 = {4,5,6,7,8}
print('The second set is: ',set2)

#check if set1 is a subset of set2
print('set1 is a subset of set2: ', set1.issubset(set2))

#check if set1 is a superset of set2
print('set1 is a superset of set2: ', set1.issuperset(set2))

#check the intersection of two sets
print('set1 intersection set2: ',set1.intersection(set2))

#check the union of two sets
print('set1 union set2: ',set1.union(set2))

#check the elements in set1 different from set2
print('Elements in set1 different from set2: ',set1.difference(set2))

#check the elements in set2 different from set1
print('Elements in set1 different from set2: ',set2.difference(set1))

Problem 33: Create a set from a string.

In [ ]:
#create a string
mystr = 'Susobhan'
#convert the string into a set
str_set = set(mystr)
print('The set of the string is: ',str_set)

Problem 34: Convert a set of strings to a set of integers.

In [ ]:
#cretae a string set 
str_set = {"11","22","33","44","55"}
print('The original set of string is: ',str_set)

#declare a blank set
int_set= set()

#convert each string element to an integer and add to the set
for element in str_set:
    int_set.add(int(element))
    
print('The set of integers is: ',int_set)

Problem 35: Convert a set of integers to a set of strings.

In [ ]:
#create a set of integers
int_set = {1,2,3,4,5}
print('The original set of integers is: ',int_set)

#decalre a blank set
str_set = set()

#conver each integer element to a string and add to the set
for element in int_set:
    str_set.add(str(element))

print('The set of string is: ',str_set)

Problem 36: Create a set from a tuple.

In [ ]:
#create a tuple
mytuple = (1,2,3,4,5,1)
print('The tuple is: ',mytuple)
#create a set from tuple
myset = set(mytuple)
print('The set is: ',myset)

Problem 37: Convert a set to a tuple.

In [ ]:
#create a tuple
myset = {1,2,3,4,5,1}
print('The set is: ',myset)
#create a tuple from set
mytuple = tuple(myset)
print('The tuple is: ',mytuple)

Problem 38: Find the maximum value in a set.

In [ ]:
#create a set
myset = {9,9,3,2,2,2,1,3,4,6}
print('The set is: ',myset)
#find the max element
max_element = max(myset)
print('The maximum element of the set is: ',max_element)

Problem 39: Find the minimum value in a set.

In [ ]:
#create a set
myset = {9,9,3,2,2,2,1,3,4,6}
print('The set is: ',myset)
#find the min element
min_element = min(myset)
print('The minimum element of the set is: ',min_element)

Problem 40: Create a set from user input.

In [ ]:
#declare an empty set
userset = set()

#get the elements of the set from user
while True:
    element = int(input('Enter the element of the set: '))
    userset.add(element)
    choice = input('Do you wish to add another element (Y/N):')
    if choice.lower() != 'y':
        break
#print the set
print('The user input set is: ',userset)

Problem 41: Check if the intersection of two sets is empty.

In [ ]:
#create two sets
#set1
set1 = {1,2,3,4,5}
print('The first set is: ',set1)
#set2
set2 = {4,5,6,7,8}
print('The second set is: ',set2)

#check if intersection of two sets is empty
print('The intersection of two sets is empty: ', not bool(set1.intersection(set2)))

Problem 42: Create a set of the first 5 Fibonacci numbers.

In [ ]:
#fibonacci logic
def fibo(n):
    if n<=1:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)
    
#cretae the set with first 5 fibonacci series
fibo_set = set(fibo(i) for i in range(5))
print('The set with first 5 Fibonacci series: ',fibo_set)

Problem 43: Remove duplicates from a list using sets.

In [ ]:
#create a list
mylist = [1,2,3,4,5,5,3,1]
print('The set without the duplicates: ',set(mylist))

Problem 44: Check if two sets have the same elements, regardless of their count.

In [ ]:
#set1
set1 = {1,2,3,4,5,5,4,3}
print('The first set is: ',set1)
#set2
set2 = {4,5,6,7,8}
print('The second set is: ',set2)
#set3
set3 = {5,4,3,2,1,1}
print('The third set is: ',set3)

print('Set1 has same elements as Set2: ',(set1==set2))
print('Set2 has same elements as Set3: ',(set2==set3))
print('Set3 has same elements as Set1: ',(set3==set1))

Problem 45: Create a set of the first `n` powers of 2.

In [ ]:
#get the input of n
n = int(input('Enter the value of n:'))
#create a set with first 'n' powers of 2
res_set = set(2**x for x in range(1,n+1))
print('The set with first n powers of 2: ',sorted(res_set))

Problem 46: Find the common elements between a set and a list.

In [ ]:
#create a set
myset = {1,2,3,4,5,5,4,3}
print('The set is: ',myset)

#create a list
mylist = [5,4,3]
print('The list is: ',mylist)

print('The common elements of the set and list: ',myset.intersection(set(mylist)))

Problem 47: Create a set of the first `n` triangular numbers.

In [ ]:
#take the input of n
n = int(input('Enter the value of n: '))

#create a temp list of number upto n
temp_list = [i for i in range(1,n+1)]

#logic to generate the n triangular numbers
mylist = [sum(temp_list[:i+1]) for i in range (n)]

print('The list of the first {0} Triangular numbers is: {1}'.format(n,set(mylist)))

Problem 48: Check if a set contains another set as a subset.

In [9]:
#create a set
myset = {1,2,3,'a','b',True,False}
print('The original set is: ',)
#create another subset
sub = {True,False}
print('The subset is: ',sub)

if sub.issubset(myset):
    print('The set contains another set as subset.')
else:
    print('The set does not contain another set as subset.')

The subset is:  {False, True}
The set contains another set as subset.

In [ ]:
type({1,2,3})

Problem 49: Create a set of alternating 1s and 0s of length `n`.

In [6]:
#enter the value of n
n = int(input('Enter the value of n: '))

#create the set of alternate 1 and 0
res_set = set (i%2 for i in range(n))

print('The set of alternate 0 and 1 is: ',res_set)

Enter the value of n:  6

The set of alternate 0 and 1 is:  {0, 1}

Problem 50: Merge multiple sets into one.

In [7]:
#set1
set1 = {1,2,3,4,5}
print('The first set is: ',set1)
#set2
set2 = {6,7,8,9}
print('The second set is: ',set2)

#the mergeed set
print('The merged set is: ', set1.union(set2))

The first set is:  {1, 2, 3, 4, 5}
The second set is:  {8, 9, 6, 7}
The merged set is:  {1, 2, 3, 4, 5, 6, 7, 8, 9}